<!-- landings_list.html -->
<ul class="rows">
    {% for landing in site.pages %}
        {% if landing.category == 'landings' %}
            <li class="row__cols">
                <div class="row__title">
                    Title
                </div>
                <div class="row__year">
                    Year
                </div>
                <div class="row__type">
                    Category
                </div>
            </li>
            <li class="row__post">
                {% if landing.github %}
                    <a href="{{ landing.github }}">
                {% else %}
                    <a href="{{ landing.url | prepend: site.baseurl }}">
                {% endif %}
                  <div class="row__title row__active">
                    {{ landing.title }}
                  </div>
                  <div class="row__year row__active">
                      {{ landing.year }}
                  </div>
                  <div class="row__type row__active">
                    {{ landing.type }}
                  </div>
                </a>
        
                {% if landing.img %}
                <div class="tui-image-window">
                  <fieldset class="tui-fieldset">
                    {% if landing.github %}
                        <legend><a href="{{ landing.github }}">{{ landing.title }}.jpg</a></legend>     
                        <a href="{{ landing.github }}"><img class="row__img" src="{{ landing.img }}" alt="{{ landing.title }}"></a>
                    {% else %}
                        <legend><a href="{{ landing.url | prepend: site.baseurl }}">{{ landing.title }}.jpg</a></legend> 
                        <a href="{{ landing.url }}"><img class="row__img" src="{{ landing.img }}" alt="{{ landing.title }}"></a>
                    {% endif %
                  </fieldset>
                </div>      
                {% endif %}
              </li>
        {% endif %}
    {% endfor %}
</ul>