<!-- landings_list.html -->
<ul class="rows">
    <li class="row__cols">
        <div class="row__title">
            Projects
        </div>
        <div class="row__date">
            Year
        </div>
        <div class="row__cat">
            Type
        </div>
    </li>
    {% for landing in site.pages %}
            <li class="row__post">
                {% if landing.github %}
                    <a href="{{ landing.github }}" target="_blank">
                {% else %}
                    <a href="{{ landing.url | prepend: site.baseurl }}" target="_blank">
                {% endif %}
                    <div class="row__title">
                        {% assign title_parts = landing.title | split: " - " %}
                        <b>{{ title_parts[0] }}</b>{% if title_parts[1] %} - {{ title_parts[1] }}{% endif %}                    
                    </div>
                    <div class="row__date">
                        {{ landing.year }}
                    </div>
                    <div class="row__cat">
                        {{ landing.category }}
                    </div>
                </a>
        
                {% if landing.img %}
                <div class="tui-image-window">
                  <fieldset class="tui-fieldset">
                    {% if landing.github %}
                        <legend><a href="{{ landing.github }}" target="_blank">{{ landing.title }}.jpg</a></legend>     
                        <a href="{{ landing.github }}" target="_blank"><img class="row__img" src="{{ landing.img }}" alt="{{ landing.title }}"></a>
                    {% else %}
                        <legend><a href="{{ landing.url | prepend: site.baseurl }}" target="_blank">{{ landing.title }}.jpg</a></legend> 
                        <a href="{{ landing.url }}" target="_blank"><img class="row__img" src="{{ landing.img }}" alt="{{ landing.title }}"></a>
                    {% endif %}
                  </fieldset>
                </div>      
                {% endif %}
              </li>
    {% endfor %}
</ul>