$on-palm:           600px !default;
$on-laptop:         800px !default;

// typography
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
$inconsolata:       'Inconsolata', monospace;
$font__size:        14px;
$font__weight:      400;
$font__line-height: 1.5;

// colors
$color__black:      #000000;
$color__gray:       #eeeeee;
$color__beige:      #f8f8f1;
$color__yellow:     #fefeca;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// elements
* {
  box-sizing: border-box;
}

::selection {
  background: $color__yellow;
}

::-moz-selection {
  background: $color__yellow;
}

hr {
  color: $color__black;
  background-color: $color__black;
}

a {
  // display: block;
  // width: 100%;
  // height: 100%;
  color: $color__black;
  text-decoration: underline;

  &:hover {
    color: $color__black;
    background-color: darkgray;
  }
}

// layout
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

.contenido {
  width: 100%;
  padding: 0;
  margin: 25px 0;
}

body {
  background: $color__black;
  font-family: $inconsolata;
  font-size: $font__size;
  text-shadow: 0 0 5px hsl(154, 84%, 70%);
  font-weight: $font__weight;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 25px;
}

// media queries
@include media-query($on-palm) {
  .container {
    margin: 0 50px;
  }
  .contenido {
    margin: 50px 0 25px;
  }

}

@include media-query($on-laptop) {
  .container {
    margin: 0 120px;
  }
  .contenido {
    margin: 120px 0 50px;
  }

}
