<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <nav class="tui-nav">
      <ul>
          <li><a href="#!"><span class="red-168-text">H</span>ome</a></li>
          <span class="tui-statusbar-divider"></span>
          <li class="tui-dropdown">
              <span class="red-168-text">M</span>enu
              <div class="tui-dropdown-content">
                  <ul>
                      <li><a href="#!"><span class="red-168-text">R</span>esume</a></li>
                      <li><a href="#!"><span class="red-168-text">E</span>mail</a></li>
                      <li><a href="#!"><span class="red-168-text">L</span>inkedIn</a></li>
                      <li><a href="#!"><span class="red-168-text">G</span>ithub</a></li>
                      <li><a href="#!"><span class="red-168-text">B</span>ehance</a></li>
                  </ul>
              </div>
          </li>
          <span class="tui-datetime" data-format="d/M/y H:m:s"></span>
      </ul>
    </nav>
    <div class="contenido">
      <div class="container">
        {{ content }}
      </div>  
    </div>
    <div class="tui-statusbar">
      <ul>
          <li><a href="#!"><span class="red-168-text">A</span>bout</a></li>
          <span class="tui-statusbar-divider"></span>
          <li><a href="#!"><span class="red-168-text">C</span>hangelog</a></li>
      </ul>
  </div>
  
  </body>

</html>