<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    <nav class="tui-nav">
      <ul>
          <li class="tui-dropdown">
              <span class="red-168-text">F</span>ile
              <div class="tui-dropdown-content">
                  <ul>
                      <li><a href="#!"><span class="red-168-text">N</span>ew</a></li>
                  </ul>
              </div>
          </li>
      </ul>
  </nav>  
      <div class="container">
        {{ content }}
      </div>
  </body>

</html>