<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <nav class="tui-nav">
      <ul>
          <li><a href="#!"><span class="red-168-text">H</span>ome</a></li>
          <span class="tui-statusbar-divider"></span>
          <li class="tui-dropdown">
              <span class="red-168-text">M</span>enu
              <div class="tui-dropdown-content">
                  <ul>
                      <li><a href="#!"><span class="red-168-text">R</span>esume</a></li>
                      <li><a href="#!"><span class="red-168-text">E</span>mail</a></li>
                      <li><a href="#!"><span class="red-168-text">L</span>inkedIn</a></li>
                      <li><a href="#!"><span class="red-168-text">G</span>ithub</a></li>
                      <li><a href="#!"><span class="red-168-text">B</span>ehance</a></li>
                  </ul>
              </div>
          </li>
          <span class="tui-datetime" data-format="d/M/y H:m:s"></span>
      </ul>
    </nav>
    <div class="contenido">
      <div class="container">
        {{ content }}
      </div>  
    </div>
    <div class="tui-statusbar">
      <ul>
          <li><a href="#!" data-modal="modal"><span class="red-168-text">A</span>bout</a></li>
          <span class="tui-statusbar-divider"></span>
          <li><a href="https://github.com/maximoospital/maximoospital.github.io/commits/main/" target="_blank"><span class="red-168-text">C</span>hangelog</a></li>
          <li><button class="tui-button tui-modal-button" data-modal="modal">◄ Click ►</button></li>
      </ul>
  </div>
  <div id="modal" class="tui-modal">
    <div class="tui-window red-168 left-align">
        <fieldset class="tui-fieldset">
            <legend class="red-255 yellow-255-text">Alert</legend>
            This is an example of a modal window.
            <br><br>
            <div class="tui-divider"></div>
            <br>
            <button class="tui-button cyan-168 white-255-text tui-modal-close-button right" data-modal="modal">close</button>
        </fieldset>
    </div>
</div>
  </body>

</html>